body {
    background:no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: yellow;
   
  }
.home_div{
    width: 100%;
    margin-top: 150px;
}

img{
    width: 500px;
    border-radius: 60px;
}
a{
    text-decoration: none;
    font-size: 54px;
    font-weight: 500;
    color: white;
}
a:hover{
    font-size: 58px;
    transition: all 400ms;
    color: #137547;
}
#x:hover{
    color: rgb(0, 0, 0);
    background-color: yellowgreen;
    padding: 10px 25px;
    border-radius: 40px;
}
.sp{
    height: 2cm;
}

.sps{
    height: 1.5cm;
}
.space_bottom{
    height: 5cm;
}

#botom:hover{
    background-color: yellow;
    font-weight: 700;
    font-size: 58px;
    color: #000;
    transition: all 400ms;
    padding: 10px 25px;
    border-radius: 40px;
}

.qt{
    font-size: 30px;
    margin: 10px 15px;
    padding: 20px;
    background-color: #000;
    border-radius: 20px;
}