*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lemonchiffon;
}
a{text-decoration: none;}
.topnav{
    width: 100%;
    height: 150px;
    background-color: black;
}

.left{
    float: left;
    background: none;
    color: lemonchiffon;
    font-size: 32px;
    width: 80%;
    text-align: center;
    margin-top: 15px;
}

.left>i{
    background: none;
    margin-left: px;
    float: none;
}

.menav{
    margin: 50px 0;
    width: 19%;
    height: 60px;
    float: left;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.ax{
    margin: auto;
    border: 3px solid white;
    margin: 10px auto;
    width: 50px;
}

#a{
    display: none;
    font-size: 60px;
    width: fit-content;
    text-align: center;
    margin: auto;
    padding: 10px 15px;
}
#animatedDiv{
    float: none;
    width: 0px;
    background-color: rgb(143, 32, 32);
    transition: all 1s ease;
    margin: auto;
    text-align: center;
}

#animatedDiv.animate {
  transform: translateX(0px); 
  width: 600px;
  height: 800px;
  border-radius: 40px;
  margin: auto;
word-wrap: break-word;overflow: hidden;
}

p{
    padding-top: 45px;
}

#men{
    color: aliceblue;
}

#men:hover{
    color: rgb(157, 168, 177);
    background-color: brown;
    padding: 10px 25px;
    border-radius: 40px;
}

.deskmen{
    display: none;
}

.body-data{
    width: 95%;
    min-height: 250px;
    margin: 15px auto;
    font-size: 30px;

}

h1{
    font-size: 55px;
}
.ssp{ height: 140px;}

.body-data>a{
    margin-left: 10px;
    font-size: 30px;
}

.bbsp{ height: 200px;}

.body-data>a:hover{
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

.body-data>a:visited{
    color: rgb(95, 91, 91);
}


@media screen and (min-width: 1100px) {
    
    .left{
        background: black;
        color: lemonchiffon;
        font-size: 32px;
        text-align: center;
        margin-top: 15px;
        width: 100%;
    }
    
    .left>i{
        float: right;
        background: none;
        margin-right: 70px;
    
    }
    .menu, .ax, .menav{
        display: none;
}

.deskmen{
    display: block;
    width: 100%;
    
}
.mdes{
    font-size: 30px;
    margin-left: 30px;
    color: rgb(218, 225, 231); 
    float: left;
}

a.mdes:hover{
    font-size: 30px;
    margin-left: 30px;
    color: rgb(224, 228, 231);
     background-color: rgb(44, 100, 100);
     padding: 2px 15px;
     border-radius: 40px;
}

.body-data>a{
    font-weight: bold;
    color: black;
}
.body-data>a:hover{
    padding-bottom: 5px;
}

}