html{
    scroll-behavior: smooth;
}

.edata{
 width: 95%;
 margin: 25px auto;
 font-family: 'lobster';

}

details{
    margin: 40px auto;
    background: none;
    width: fit-content;
    text-align: center;
    padding: 10px;
}

summary{
    color: #000;
    font-size: 3rem;
}

summary:hover{
    color: #14520c;
    font-size: 4rem;
    transition: all 300ms;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -30px;
    margin-bottom: 40px;
}

#spt{
    height: 50px;
}

summary::marker{
    content: "";
}

.flex>details>p{
    display: grid;
    margin: 30px;
}

details>p>button>a{
    font-size: 2.2rem;
    color: #000;
    font-family: 'lobster';
}

details>p>button>a:hover{
    font-size: 2.4rem;
    color: #3f1010;
    border-bottom: 3px solid;
}

abbr{
    text-decoration: none;
}

button{
    border: none;
    background: none;
}

#XI-T, #XII-T, #bcom-T, #mcom-T {
    margin-bottom: 20px;
}

.sslc-T{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 15px;
}


.b>details>summary, .c>details>summary{
    margin: 0;
    padding: 0;
    color: #d61b1b;
    font-size: 2rem;
}

.b>details>summary:hover, .c>details>summary:hover{
    color: #14520c;
    font-size: 2.5rem;
    transition: all 300ms;
}

.b>details, .c>details{
    margin: 0;
    padding: 0;
}

 .a{
    width: 290px;
    text-align: left;
    margin-left: -40px;
}

.b, .c{
    text-align: center;

}

#hd, #shd{
    font-size: 2.4rem;
}

#hd {
    margin-top: 25px;
}

.gap{
    margin: 120px;
}

.part>a{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 200px;
    text-align: center;
}


.part>a:hover{
    font-size: 2.3rem;
    transition: all 300ms;
    text-decoration: none;
    border-bottom: none;

    
}

.b>details>p, .c>details>p{
    width: 410px;
}

details>p>br{
    display: none;
}

#sslc>h1{
    text-align: center; font-size: 3rem; font-weight: 500; margin-bottom: 5rem; 
}

#sslc{
    display: none;
    margin-bottom: 300px;
}

.XI-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#XItext{
    margin-bottom: 300px;
    display: none;
}

#XItext>h1{
    text-align: center;
    margin-bottom: 70px;
    font-size: 3rem;
    font-weight: 500;
}

.xa{
    width: 300px;
    text-align: left;
    padding-left: 25px;
}

.xa, .xb, .xc{
    font-size: 2rem;
}

.xb>a:hover, .xc>a:hover{
    color: brown;
    border-bottom: solid;
}

.ia{
    text-align: left;
    font-size: 2rem;
    width: 300px;
    padding-left: 15px;
}

.ib, .ic {
    text-align: center;
    font-size: 2rem;
}

.XII-TT{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
}

#XIItext>h1{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 70px;
}

.ib>details>p, .ic>details>p {
    display: grid;
    margin-top: 25px;
}

.ib>details>summary, .ic>details>summary{
    font-size: 2rem;
    color: #ff0000;
}

.ib>details, .ic>details{
    margin-top: -10px;
}

.ib>details>summary:hover, .ic>details>summary:hover{
      font-size: 2.3rem;
      color: #ffffff;      
}


.ib>details>p>button, .ic>details>p>button{
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#XIItext{
    display: none;
}














@media screen and (max-width: 1100px) {
 
    
    .sslc-T{
        font-size: 3rem;
    }
    

.b>details>summary, .c>details>summary{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 3rem;
}

.b>details>summary:hover, .c>details>summary:hover{
    color: #14520c;
    font-size: 3rem;
    transition: all 300ms;
}


#hd, #shd{
    font-size: 3.7rem;
    color: rgb(206, 12, 22);
}

.part{
    margin-bottom: 25px;
}
.part>a{
    font-size: 3rem;
}
.part>a:hover{
    font-size: 3.3rem;
    transition: all 300ms;
}

.b>details>p{
    margin-top: 35px;
}

 .c>details>p{
    margin-top: 35px;    
}


details>p>br{
    display: block;
}

.b>details>p, .c>details>p{
    width: 200px;
    margin-bottom: 50px;
    background-color: antiquewhite;
    height: fit-content;
    padding: 20px 10px;
    border-radius: 40px;
}
#sslc>h1{
    text-align: center; font-size: 4rem; font-weight: 500; margin-bottom: 5rem; 
}

#sslc {
    background-color: lemonchiffon;
    border-radius: 40px;
    padding: 10px;
}

#msd{
    margin-top: 50px;
}
#mss{
    margin-top: 30px;
}

#eng.sslc{
    width: 500px; 
    margin-left: -250px;
}

}