*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lemonchiffon;

}

.main_books{ 
    width: 90%;
    margin: 8rem auto;
}

h1{
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: left;
}

.main_books>h1{
    margin-left: 15%;
}

a{
    font-size: 2rem;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
   color: black;
}

li{
    margin: 20px auto auto 50px;
}

ul{
    list-style-type: decimal-leading-zero;
}

.chbooks{ 
    width: 90%;
    margin: 28rem auto 8rem auto;
}

.chbooks>h1{
        margin-left: 5%;
    }

@media screen and (min-width: 1000px) {
   li{
        margin-left: 2%;
        font-size: 28px;
    }

    .chbooks>ul>li{
        margin-left: 5%;
    }

    h1{
        text-align: left;
    }
    
 }