*{
    margin: 0;
    padding: 0;
}
    
    
body{
    background-color: lemonchiffon;
    text-align: center;
}

body>h1 {
    font-size: 80px;
    margin-top: 2rem;
    color: royalblue;
}

.dropbtn {

    background-color: transparent;
  
    color: darkblue;
  
    padding-top: 15px;
  
    font-size: 60px;
  
    font-weight: bold;
  
    border: none;
    
    outline: none;
  
    cursor: pointer;
    
    
    
  }
  
  
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: transparent;
  }
  
  .dropdown {
  
    position: relative;
  
    display: inline-block;
  
  }
  
  .dropdown-content {
  
    display: none;
  
    position: relative;
    
    overflow: auto;
    
    font-size: 45px;
  
    min-width: 600px;
    
    min-height: 180px;
  
    margin-top: 25px;
   
    padding: 50px 0;
  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
    z-index: 1;
  
  }
  
  .dropdown-content a {
  
    color: black;
  
    padding: 10px;
  
    text-decoration: none;
  
    display: list;
  
  }
  
  .dropdown-content a:hover {
  background-color: transparent;
  color: blue;
  }
  
  .dropdown:hover .dropdown-content {
  
    display: block;
  
  }
  
  .dropdown:hover .dropbtn {
  
    color: red;
  
  }
  

  .head{
    margin: 1.5rem auto 1rem;
  }
  
  
.head>h1 {
      font-size: 70px;
      animation: head 2s ease-out  infinite;
      }
  
  @keyframes head{
  0% {
   color: red;
  }
  
  15% {
  color: blue;
  }
  
  30% {
  color: green;
  }
  
  75% {
  color: royalblue;
  }
  
  90% {
  color: black;
  }
  
  100% {
  color: blue;}
  
  }
  
 
  
  img {
      border-radius: 20%;
         width: 600px;
         margin-top: 10rem;
         margin-bottom: 1rem;
  }
  
  #direct {

    background-color: transparent;
  
    color: darkblue;
  
    padding-top: 15px;
  
    font-size: 60px;
  
    font-weight: bold;
  
    border: none;
    
    outline: none;
  
    cursor: pointer;
    
    
    
  }

  #next{
    border-radius: 50%;
    width: 200px;
    margin: 15rem auto 8rem;
  }
