*{
    margin: 0;
    padding: 0;
    background-color: rgb(236, 211, 174);
}

h1{
    text-align: center;
    margin-top: 4vh;
}

.txh{
    width: 96%;
    margin: auto auto;
    margin-top: 5vh
}

.a{
    display: grid;
    margin: auto auto;
    width: fit-content;
}

.a>img{
    width: 250px;
    margin: auto;
}

button, .a>button>a{
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-top: 18px;
    color: black;
}

.drop{
    display: none;
    margin: auto;
    width: fit-content;
    margin-top: 1vh;
    height: fit-content;
 }


.drop>button{
    height: fit-content;
    padding: 5px;
    text-align: center;
}

a{
    text-decoration: none;
}

.drop>button>a{
    font-size: 18px;
    color: rgb(92, 49, 49);
}

.hsp{
    display: grid;
    height: 60px;
}

img{
    height: 314px;
}

.bot{
    height: 5vh;
    width: 100%;
    display: block;
}


@media screen and (min-width: 820px) {

    .txh{
        display: grid;
        grid-template-columns: auto auto auto auto; 
        grid-row-gap: 30px;
    }

    .hsp{
        display: none;
    }
   h1{
    font-size: 49px;
    margin-bottom: 13vh;
   }

   .drop{
    text-wrap: wrap;
    margin-top: 10vh;
   }


   button{
    height: 100px;
   }
}

